<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laker.admin.module.bus.mapper.BusCollCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.laker.admin.module.bus.entity.BusCollComment">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="comment_time" property="commentTime" />
        <result column="comment_likes" property="commentLikes" />
        <result column="coll_id" property="collId" />
        <result column="coll_name" property="collName" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, content, comment_time, comment_likes, coll_id, coll_name, is_deleted, create_time, update_time, creator, updater
    </sql>

</mapper>
